In [2]:
print('Esse é o print')

Esse é o print

In [4]:
'''Esse é um comentário'''

'Esse é um comentário'

In [8]:
import pandas as pd

In [28]:
df = pd.read_csv('/home/developer/pythonfundamentals/Aulas/dados/campeonato-brasileiro-full.csv',encoding='utf-8', sep=',',usecols=['Data','Clube 1','Clube 2','Vencedor'])

In [29]:
df

            Data        Clube 1      Clube 2       Vencedor
0     2000-07-29     Fluminense        Bahia     Fluminense
1     2000-07-29          Vasco        Sport          Sport
2     2000-07-29        Vitória    Palmeiras        Vitória
3     2000-07-30    Botafogo-RJ  Atlético-MG              -
4     2000-07-30      Juventude     Flamengo              -
...          ...            ...          ...            ...
7934  2019-12-08          Goiás       Grêmio          Goiás
7935  2019-12-08  Internacional  Atlético-MG  Internacional
7936  2019-12-08       Cruzeiro    Palmeiras      Palmeiras
7937  2019-12-08         Santos     Flamengo         Santos
7938  2019-12-08            CSA    São Paulo      São Paulo

[7939 rows x 4 columns]